
// トップページ



.title-acount {
  font-size: 2em;
  float: left;
  width: 400px;
  height: 300px;
  
  padding: 20px;
}

.top-login {
  width: 1000px;
  height: 400px;
  padding: 50px

}



a1 {
  font-weight: bold;
  font-style: italic;
  font-size: 70px;
}

a2 {
  font-size: 30px;
}