
// トップページ



.title-acount {
  font-size: 20px;
  float: left;
  width: 380px;
  height: 300px;
  padding-top: 20px;
  display: inline-block; 
  
}

.top-login {
  width: 700px;
  display: inline-block; 
  
}



a1 {
  font-weight: bold;
  font-style: italic;
  font-size: 70px;
}

a2 {
  font-size: 30px;
}